#font-title {
    font-family: Courier, Arial, serif;
    color: dodgerblue;
}
.font-subtitle {
    font-family: Courier, Arial, serif;
    color: dodgerblue;
}
tr {
    background-color: cornflowerblue;
}
tr:nth-child(odd) {
    background-color: lightgrey;
}
