<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Assign a new car</h1>

<form action="/carCreate" method="post">
    <label>Enter Brand</label>
    <input type="text" name="brand" placeholder="Brand">
    <label>Enter Model</label>
    <input type="text" name="model" placeholder="xxxxxxxxx">
    <label>Enter Class</label>
    <input type="text" name="carclass" placeholder="Family/Sport/Luxury">
    <label>Enter Fuel Type</label>
    <input type="text" name="fueltype" placeholder="diesel/gas/el/hybrid">
    <label>Enter Km</label>
    <input type="text" name="driven_km" placeholder="xxxx + km">
    <label>Enter Year</label>
    <input type="text" name="first_registration_year" placeholder="xxxx">
    <label>Enter Price</label>
    <input type="text" name="price" placeholder="price (only numbers)">

    <input style="background-color:  lightcyan" type="submit" value="Assign">
</form>
</body>
</html>