<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Car details</title>
</head>
<body>
<h1>Car details</h1>
<table style="border-collapse: collapse; width: 40%;">
    <thead>
    <tr style="background-color: lightblue;">
        <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Brand</th>
        <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Model</th>
        <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Class</th>
        <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Fuel type</th>
        <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Driven km</th>
        <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">First registration year</th>
        <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Car price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${car.brand}" />
        <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${car.model}"/>
        <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${car.carclass}"/>
        <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${car.fueltype}"/>
        <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${car.driven_km}"/>
        <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${car.first_registration_year}"/>
        <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${car.price}"/>
    </tr>
    </tbody>
</table>
</body>
</html>