<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
    <link rel="stylesheet" type="text/css" href="MyTables.css">

</head>
<body>
<div id="indexHeader">
    <h1>Contract list</h1>
</div>

    <div style="float: left"></div>
<div id="createButtonWrapper">
    <a href="/contractCreate">
        <button class="btn-create" id="btn-create">Assign new contract</button>
    </a>
</div>

    <table>
        <thead>
        <tr>
            <th>Rental contract ID</th>
            <th>Customer ID</th>
            <th>Car ID</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract: ${contracts}">
            <td th:text="${contract.rentalcontractid}" />
            <td th:text="${contract.customerid}" />
            <td th:text="${contract.carid}" />

            <td>
                <a th:href="@{'/contractViewOne/'+${contract.rentalcontractid}}">
                    <button class="btn-viewOne", id="btn-viewOne">Details</button>
                </a>
                <a th:href="@{'/contractDelete/'+${contract.rentalcontractid}}">
                    <button class="btn-delete", id="btn-delete">Delete</button>
                </a>
                <a th:href="@{'/contractUpdate/'+${contract.rentalcontractid}}">
                    <button class="btn-update", id="btn-update">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>