<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Contract details</h1>

<table style="border-collapse: collapse; width: 40%;">
    <thead>
    <tr style="background-color: lightblue;">
        <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Rental contract ID</th>
        <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Customer ID</th>
        <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Contract ID</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text=${contract.rentalcontractid}" />
        <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${contract.customerid}"/>
        <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${contract.carid}"/>
    </tr>
    </tbody>
</table>
</body>
</html>