<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <h1>Assign a new contract</h1>

    <form action="/contractCreate" method="post">
        <label>Enter customerid</label>
        <input type="text" name="customerid" placeholder="customerid">
        <label>Enter carid</label>
        <input type="text" name="carid" placeholder="carid">

        <input style="background-color: lightcyan" type="submit" value="Assign">
    </form>
</body>
</html>