<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<h1>Customers list</h1>

<a href="/customerCreate">
    <button class="customer-btn-create" id="customer-btn-create">Assign new customer</button>
</a>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phonenumber</th>
        <th>Email</th>
        <th>Drivers License Number</th>
        <th>Address</th>
        <th>Zipcode</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.customerid}" />
        <td th:text="${customer.first_name}" />
        <td th:text="${customer.last_name}" />
        <td th:text="${customer.phonenumber}" />
        <td th:text="${customer.email}" />
        <td th:text="${customer.drivers_license_number}" />
        <td th:text="${customer.address}" />
        <td th:text="${customer.zipcode}" />

        <td>
            <a th:href="@{'/customerViewOne/'+${customer.customerid}}">
                <button class="customer-btn-viewOne", id="customer-btn-viewOne">Details</button>
            </a>
            <a th:href="@{'/customerDelete/'+${customer.customerid}}">
                <button class="customer-btn-delete", id="customer-btn-delete">Delete</button>
            </a>
            <a th:href="@{'/customerUpdate/'+${customer.customerid}}">
                <button class="customer-btn-update", id="customer-btn-update">Edit</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>