<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer details</title>
    <link rel="stylesheet" type="text/css" href="ViewOne.css">
</head>
<body>
<h1>Customer details</h1>
<table style="border-collapse: collapse; width: 40%;">
    <thead>
        <tr style="background-color: cornflowerblue;">
            <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Id</th>
            <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Firstname</th>
            <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Lastname</th>
            <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Phonenumber</th>
            <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Email</th>
            <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Driver License number</th>
            <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Address</th>
            <th style="border: 1px solid black; text-align: left; padding: 4px; margin: auto">Zipcode</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${customer.customerid}" />
            <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${customer.first_name}"/>
            <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${customer.last_name}"/>
            <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${customer.phonenumber}"/>
            <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${customer.email}"/>
            <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${customer.drivers_license_number}"/>
            <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${customer.address}"/>
            <td style="border: 1px solid black; text-align: left; padding: 4px; margin: auto" th:text="${customer.zipcode}"/>
        </tr>
    </tbody>
</table>
</body>
</html>