<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Customer details</h1>

Firstname: <span th:text="${customer.first_name}"/><br>
Lastname: <span th:text="${customer.last_name}"/><br>
Phonenumber: <span th:text="${customer.phonenumber}"/><br>
Email: <span th:text="${customer.email}"/><br>
Drivers License Number: <span th:text="${customer.drivers_license_number}"/><br>
Address: <span th:text="${customer.address}"/><br>
Zipcode: <span th:text="${customer.zipcode}"/><br>

</body>
</html>