<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer details</title>
    <link rel="stylesheet" type="text/css" href="ViewOne.css">
</head>
<body>

<h1>Customer details</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Phonenumber</th>
            <th>Email</th>
            <th>Drivers License Number</th>
            <th>Address</th>
            <th>Zipcode</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${customer.first_name}"/>
            <td th:text="${customer.last_name}"/>
            <td th:text="${customer.phonenumber}"/>
            <td th:text="${customer.email}"/>
            <td th:text="${customer.drivers_license_number}"/>
            <td th:text="${customer.address}"/>
            <td th:text="${customer.zipcode}"/>
        </tr>
    </tbody>
</table>


</body>
</html>