<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kailua car rental</title>
</head>
<body>
<div class="header">
    <!--Forsøger at lave et billede der ligger i venstre sider som leder tilbage til index-->
    <a style="float: left" href=".">
        <img alt="billedelink" src="Kailua Logo.png">
    </a>
    <!--Skal alle ligge i højre side, hvordan med spacing? De skal jo ikke ligge oven i hinanden-->
    <a href="/contractIndex" target="_blank">
        <button>
            Contract page
        </button>
    </a>
    <a href="/carIndex" target="_blank">
        <button>
            Car page
        </button>
    </a>
    <a href="/customerIndex" target="_blank">
        <button>
            Customer page
        </button>
    </a>
</div>

<h1>Welcome to Kailua car rental</h1>


</body>
</html>