<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kailua car rental</title>
    <link rel="stylesheet" type="text/css" href="FrontPage.css">

</head>
<body>

<div class="header">
    <div id="topBar" >
        <a href="/.">
            <img src="KailuaLogo.png" alt="KailuaLogoBtn" width="50" height="50" >
        </a>
        <form action="/carIndex" class="topButton">
            <button >
                View Cars
            </button>
        </form>
        <form action="/customerIndex" class="topButton">
            <button >
                View Customers
            </button>
        </form>
        <form action="/contractIndex" class="topButton">
            <button >
                View Contracts
            </button>
        </form>
    </div>
    <h1>Welcome to Kailua car rental</h1>
</div>
</body>
</html>