<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kailua car rental</title>
    <link rel="stylesheet" type="text/css" href="MyCss.css">
</head>
<body>

<h1>Welcome to Kailua car rental</h1>

<div class="header">
    <form action="/carIndex">
        <button >
            View Cars
        </button>
    </form>
    <form action="/customerIndex">
        <button >
            View Customers
        </button>
    </form>
    <form action="/contractIndex">
        <button >
            View Contracts
        </button>
    </form>
</div>
</body>
</html>